body {
    background-color: hsl(30, 38%, 92%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: brown;
}

#imageSection {
    background-color: aqua;

}

#textSection {
    background-color: hsl(0, 0%, 100%);
}